In [28]:
import pandas as pd
from bs4 import BeautifulSoup
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer


import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from gensim.models import Word2Vec
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [16]:
# Load the dataset
df = pd.read_csv('IMDB Dataset.csv')

In [17]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [18]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [19]:
data=df.sample(10000)

In [20]:
data

                                                  review sentiment
19767  The main problem with the documentary "Czech D...  negative
22160  The Vindicator opens with the memorable scene ...  negative
19458  Except for the acting of Meryl Streep, which i...  negative
28741  This story is an excellent tale of two boys th...  positive
3736   (spoilers?)<br /><br />while the historical ac...  positive
...                                                  ...       ...
17286  one of the best low budget movies from Germany...  positive
4937   This is how i felt while watching this film. I...  positive
1784   This movie is so unreal. French movies like th...  negative
22238  As other reviews have said, another of the cou...  negative
25133  did anyone notice?when miss brook went skinny ...  negative

[10000 rows x 2 columns]

In [21]:
data.shape

(10000, 2)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 19767 to 25133
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [23]:
data['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [24]:
data.head()

                                                  review  sentiment
19767  The main problem with the documentary "Czech D...          0
22160  The Vindicator opens with the memorable scene ...          0
19458  Except for the acting of Meryl Streep, which i...          0
28741  This story is an excellent tale of two boys th...          1
3736   (spoilers?)<br /><br />while the historical ac...          1

In [25]:
# a. HTML removing
def remove_html(text):
    soup = BeautifulSoup(text, "html.parser")
    return soup.get_text()

data['review'] = data['review'].apply(remove_html)

# b. Convert to lower case
data['review'] = data['review'].str.lower()

# c. Tokenization
data['review'] = data['review'].apply(nltk.word_tokenize)

# d. Stopwords removing
stop_words = set(stopwords.words('english'))

def remove_stopwords(tokens):
    return [word for word in tokens if not word in stop_words]

data['review'] = data['review'].apply(remove_stopwords)

# e. Lemmatization
lemmatizer = WordNetLemmatizer()

def lemmatize_words(tokens):
    return [lemmatizer.lemmatize(word) for word in tokens]

data['review'] = data['review'].apply(lemmatize_words)

# Display the results
print(data['review'].head())

/var/folders/tz/3gc62l0518x3dtgsh9grl8540000gp/T/ipykernel_14985/798376624.py:3: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BeautifulSoup(text, "html.parser")

19767    [main, problem, documentary, ``, czech, dream,...
22160    [vindicator, open, memorable, scene, monkey, c...
19458    [except, acting, meryl, streep, ,, note, alway...
28741    [story, excellent, tale, two, boy, whatever, g...
3736     [(, spoiler, ?, ), historical, accuracy, might...
Name: review, dtype: object

In [26]:
data.head()

                                                  review  sentiment
19767  [main, problem, documentary, ``, czech, dream,...          0
22160  [vindicator, open, memorable, scene, monkey, c...          0
19458  [except, acting, meryl, streep, ,, note, alway...          0
28741  [story, excellent, tale, two, boy, whatever, g...          1
3736   [(, spoiler, ?, ), historical, accuracy, might...          1

In [29]:
# Split the data into training and testing sets
X = data['review']
y = data['sentiment']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
# Convert tokenized data back to raw text
X_train_str = X_train.apply(lambda x: ' '.join(x))
X_test_str = X_test.apply(lambda x: ' '.join(x))

# TF-IDF + GaussianNB
tfidf_vectorizer = TfidfVectorizer()
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train_str)
X_test_tfidf = tfidf_vectorizer.transform(X_test_str)

In [32]:
model_tfidf = GaussianNB()
model_tfidf.fit(X_train_tfidf.toarray(), y_train)
y_pred_tfidf = model_tfidf.predict(X_test_tfidf.toarray())
accuracy_tfidf = accuracy_score(y_test, y_pred_tfidf)

In [37]:
# Convert tokenized data back to raw text
X_train_str = X_train.apply(lambda x: ' '.join(x))
X_test_str = X_test.apply(lambda x: ' '.join(x))

# Word2Vec (CBoW) + GaussianNB
vectorizer = CountVectorizer()
X_train_bow = vectorizer.fit_transform(X_train_str)
X_test_bow = vectorizer.transform(X_test_str)

In [38]:
model_bow = GaussianNB()
model_bow.fit(X_train_bow.toarray(), y_train)
y_pred_bow = model_bow.predict(X_test_bow.toarray())
accuracy_bow = accuracy_score(y_test, y_pred_bow)

In [39]:
# Load GloVe word embeddings
def load_glove_embeddings(file_path):
    embeddings_index = {}
    with open(file_path, encoding="utf8") as f:
        for line in f:
            values = line.split()
            word = values[0]
            coefs = np.asarray(values[1:], dtype='float32')
            embeddings_index[word] = coefs
    return embeddings_index

# Replace 'path_to_glove_file.txt' with the actual path to the GloVe file
glove_file_path = 'glove.6B.100d.txt'
glove_embeddings = load_glove_embeddings(glove_file_path)